@import "variables.scss";
@import "mixins.scss";

.features {
  padding: 100px 0 33px;
  background-color: #f4f4f4;
  @media only screen and (max-width:$tablet_width) {
  background-color: white;
  }
  &__container {
    display: grid;
    grid-template-areas:
      "content title"
      "content img"
    ;
    gap: 0 50px;
    @media only screen and (max-width:$tablet_width) {
      grid-template-areas:
      "title"
      "content"
       "img"
    ;
    gap: 0 60px;
    }
  }

  &__title {
    text-align: center;
    @include section_title;
    color: #8d81ac;
    margin-bottom: 19px;
    margin: 0 0 19px 25px;
    grid-area: title;
    @media only screen and (max-width:$tablet_width) {
      font-size: 42px;
      line-height: 44px;
    }
  }

  &__img {
    background: url(../img/features_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 520px;
    grid-area: img;
    @media only screen and (max-width:$tablet_width) {
      max-width: 700px;
      justify-self: end;
      }
      @media only screen and (max-width: $phone_width) {
       height: 380px;
      }
  }

  &__body {
    @include flex-column;
    gap: 35px 0;
    grid-area: content;
    @media only screen and (max-width:$tablet_width) {
      margin:50px 25px 75px;
      }
      @media only screen and (max-width: $phone_width) {
        gap: 40px 0;
      }
  }

  &__card {
    @include flex-sb;

    img {
      margin: 0 auto;
      @media only screen and (max-width: $phone_width) {
        margin-bottom: 20px;
      }
    }

    &_description {
      max-width: 70%;
      align-self: flex-start;
      line-height: 21px;
      text-align: left;
      @media only screen and (max-width: $phone_width) {
        max-width: 100%;
        text-align: center;
      }
    }

    &_title {
      font-size: 16px;
      color: $subtitle_text;
      margin-bottom: 16px;
    }

    &_text {
      font-family: Montserrat;
      font-size: 14px;
      color: $underline_text;
    }
    @media only screen and (max-width: $phone_width) {
      @include flex-column;
      justify-content: center;
    }
  }
}