@import "variables.scss";
@import "mixins.scss";

// 1111

.header {
  &__bg {
    background-image: url("../img/header_bg.png");
    background-position: center;
    background-size: cover;
    @media (max-width: 879px) {
      max-width: 100%;
    }
    .header__bg_up {
      @media (max-width: $tablet_width) {
        background-color: #27262a;
      }
    }

    .header__body {
      display: grid;
      position: relative;
      grid-template-columns: repeat(24, 1fr);
      grid-template-rows: repeat(1, 1fr);
      font-weight: 700;
      color: $btn_hover_text;
      margin-bottom: 83px;
      // padding-top: 40px;
      @media (max-width: $tablet_width) {
        grid-template-columns: repeat(24, 1fr);
        grid-template-rows: repeat(2, 0.5fr);
      }
      @media (max-width: $phone_width) {
        grid-template-columns: repeat(24, 1fr);
        grid-template-rows: repeat(1, 1fr);
      }
      &_logo {
        @include flex;
        font-size: 24px;
        grid-column-start: 2;
        grid-column-end: 4;
        img {
          margin: 30px 17px 30px 0px;
        }
        @media (max-width: $tablet_width) {
          grid-column-start: 3;
          grid-column-end: 5;
        }
        @media (max-width: 580px) {
          grid-column-start: 4;
          grid-column-end: 6;
        }
        @media (max-width: $phone_width) {
          grid-column-start: 2;
          grid-column-end: 5;
        }
        p{
          @media (max-width: $phone_width) {
            display: none;
          }
        }
      }
      .header__nav {
        @include flex;
        grid-column-start: 10;
        grid-column-end: 22;
        gap: 30px;
        @media (max-width: $tablet_width) {
          grid-column-start: 3;
          grid-column-end: 23;
          grid-row-start: 2;
          grid-row-end: 3;
        }
        @media (max-width: 580px) {
          grid-column-start: 1;
          grid-column-end: 25;
          grid-row-start: 2;
          grid-row-end: 3;
        }
        
        @media (max-width: $phone_width) {
          display: none;
        }
        &_item {
          color: $btn_hover_text;
        }
        &_button {
          margin-top: 31px;
          padding: 11px 20px;
          background-color: $btn_hover_text;
          border-radius: 30px;
          color: white;
          grid-column-start: 22;
          grid-column-end: 25;
          @include flex;
          max-width: 145px;
          max-height: 37px;

          @media (max-width: $tablet_width) {
            grid-column-start: 20;
            grid-column-end: 25;
          }
          @media (max-width: 575px) {
            grid-column-start: 18;
            grid-column-end: 25;
          }
          @media (max-width: $phone_width) {
            grid-column-start: 8;
            grid-column-end: 19;
          }
        }
        &_button:hover {
          background-color: white;
          color: $btn_hover_text;
        }

        &_hidden {
          display: none;
          margin-top: 40px;
          @media (max-width: $phone_width) {
            display: inline;
            grid-column-start: 22;
            grid-column-end: 25;
          }
        }
      }
      .header__nav :hover {
        color: white;
      }
      
    }

    .header__tittle {
      @include flex;
      flex-direction: column;
      &_fork {
        font-weight: 700;
        font-size: 82px;
        color: white;
        margin-bottom: 19px;
        @media (max-width: $tablet_width) {
          font-size: 72px;
        }
        @media (max-width: $phone_width) {
          font-size: 48px;
        }
      }
      &_gamechanger {
        color: $button_color;
        font-size: 30px;
        margin-bottom: 19px;
        text-align:center;
        font-family: "Lato", sans-serif;

        @media (max-width: $tablet_width) {
          font-size: 24px;
        }
           
        @media (max-width: $phone_width) {
          font-size: 18px;
        }
      }
      &_version {
        color: $underline_text;
        padding-bottom: 470px;
      }
    }
  }
}
.header__bottom {
  position: relative;
  &_button {
    font-weight: 700;
    font-size: 21px;
    @include flex;
    padding-top: 23px;
    padding-bottom: 23px;
    // padding: 23px 61px 23px 61px;
    border-radius: 40px;
    border: 2px solid $button_color;
    color: white;
    background-color: $btn_hover_text;
    position: relative;
    bottom: 40px;
    max-width: 390px;
    // left: 50%;
    // transform: translate(-50%, 0);
    margin: 0 auto;
  }
  &_button:hover {
    background-color: white;
    color: $btn_hover_text;
  }
  &_text {
    margin-bottom:  66px;
    @include flex;
    color: $underline_text;
    font-size: 14px;
  }
}
.burger {
        position: absolute;
        margin: 0 auto;
        font-size: 26px;
        font-weight: 400;
        top: 102px;
        left: 0;
        right: 0;
       @include flex;
        flex-direction: column;
        align-items: stretch;
        
        &__item {
          background-color: #333333;
          border-bottom: 2px solid #3b3b3b;
          color: white;
          padding: 29px 0px 29px 40px;
          position: relative;
          

          &_line {
            
            position: absolute;
            left:4px;
            top:20px;
            width: 8px;
            height: 53px;
            background-color:$header_text;
           
            // transition: opacity 0.3s ease; /* Добавляем плавное появление/исчезновение */
        }


        }
        &__item:hover{
          color:$header_text;
        }
      }

.disactiv{
  display: none;
}
.active{
  color: white;
}
.onfocus{
  color: #8D81AC;
}