@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@import "reset.scss";
@import "variables.scss";
@import "mixins.scss";
@import "header.scss";
@import "present_text.scss";
@import "features.scss";
@import "testimonials.scss";
@import "pricing.scss";
@import "features.scss";

body {
    font-family: 'Montserrat', sans-serif;
 
    a {
        text-decoration: none;
    }
}

.container{
    min-width: 320px;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0px 10px;
}