@import "variables.scss";
@import "mixins.scss";

.present__text {
  padding-bottom: 70px;
  .container {
    @include flex-column;
    @media only screen and (max-width: $tablet_width) {
      margin: 0 40px;
    }
    @media only screen and (max-width: $phone_width) {
      margin: 0;
    }
  }
  &_title {
    font-size: 54px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    color: #635c73;
    padding-bottom: 35px;

    @media only screen and (max-width: $tablet_width) {
      font-size: 42px;
      line-height: 42px;
      padding-bottom: 30px;
    }

    @media only screen and (max-width: $phone_width) {
      font-size: 26px;
      line-height: 28px;
      padding-bottom: 27px;
    }
  }
  &_content {
    @media only screen and (min-width: 850px) {
      @include flex-column;
    }
    font-family: Lato;
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    color: $subtitle_text;
    margin-bottom: 13px;
    @media only screen and (max-width: 1200px) {
      margin-bottom: 13px;
    }
    @media only screen and (max-width: $tablet_width) {
      margin-bottom: 24px;
    }
    @media only screen and (max-width: $phone_width) {
      width: 100%;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      padding: 0 12px;
      margin-bottom: 35px;
    }
  }

  &_btns_container {
    display: flex;
    justify-content: center;
    gap: 20px;

    @media only screen and (max-width: $phone_width) {
      flex-direction: column;
      align-items: center;
    }
  }

  &_btn {
    display: flex;
    align-items: center;
    border: 1px solid #d6d8db;
    border-radius: 6px;
    svg {
      fill: #656d76;
      margin-right: 8px;
    }
    &_name {
      display: flex;
      align-items: center;
      background-color: #f5f5f5;
      padding-right: 10px;
      border-right: 1px solid #d6d8db;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      font-size: 14px;
      line-height: 20px;
      padding: 3px 12px;
    }
    &_count {
      font-size: 12px;
      line-height: 20px;
      padding: 0 7px;
    }
    &_translate {
      display: flex;
      gap: 20px;
    }
  }
}


