@import "variables.scss";
@import "mixins.scss";

.pricing {
  background-image: url(../img/testmonials_bg_2.png);
  &__title {
    @include section_title;
    text-align: center;
    color: white;
    padding: 114px 0 60px;
    @media only screen and (max-width: 900px) {
      font-size: 42px;
      line-height: 44px;
    }
  }
  &__body {
    margin: 0 auto;
    max-width: 1115px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 15px;
    padding-bottom: 100px;
    @media only screen and (max-width: $tablet_width) {
      grid-template-columns: repeat(2, 1fr);
      gap: 25px 200px;
    }
    @media only screen and (max-width: 970px) {
      gap: 25px 100px;
    }
    @media only screen and (max-width: 850px) {
      gap: 30px 50px;
    }
    @media only screen and (max-width: 670px) {
      grid-template-columns: 1fr;
      justify-items: center;
    }
 

  }
  &__card {
    @include flex-column;
    justify-content: space-between;
    color: white;
    background-color: rgb(255, 255, 255, 0.11);
    width: 257px;
    height: 457px;
    @media only screen and (min-width: 993px) {
      width: 100%;
      max-width: 257px;
           }
    @media only screen and (min-width:671px) and (max-width: $tablet_width) {
      &:nth-child(odd){
        justify-self: end;
        }
    
    }
    & > div {
      @include flex-column;
      width: 100%;
    }
    &_title {
      width: 100%;
      font-size: 24px;
      line-height: 24px;
      text-align: center;
      background-color: rgb(255, 255, 255, 0.06);
      padding: 36px 0;
      &.active {
        background-color: rgb(0, 0, 0, 0.11);
        padding: 43px 0;
      }
      
    }
    &_price {
      font-size: 60px;
      line-height: 90px;
      font-weight: 700;
      padding: 10px 0;
      span {
        font-weight: 400;
      }
      &_tag {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
      }
      &.active {
        font-size: 82px;
        line-height: 90px;
      }
    }
    &_line {
      width: 60px;
      height: 5px;
      background-color: #8d81ac;
      margin: 38px 0 30px;
      &.active {
        margin: 46px 0 40px;
      }
    }
    &_description {
      @include flex-column;
      font-size: 16px;
      line-height: 18px;
    }
    &_btn {
      color: white;
      background-color: rgb(255, 255, 255, 0.15);
      padding: 13px 36px;
      border-radius: 50px;
      margin-bottom: 37px;
      &.active {
        margin-bottom: 47px;
        font-size: 16px;
        line-height: 18px;
        padding: 18px 48px;
      }
    }
    &.active {   
      width: 299px;
      height: 560px;
      background-color: rgb(70, 48, 72, 0.84);
      @media only screen and (min-width: 993px) {
        max-width: 100%
          }
    }
  }
}
