@import "variables.scss";
@import "mixins.scss";

.testimonials {
  background-image: url("../img/testmonials_bg_1.png");
  // background-repeat: repeat;
  background-position: center;
  background-color:#4b3b4e;
 
  background-size: cover;
  color: white;
  .container{
    @include flex-column;
   
  }
  &__tittle {
    padding-top: 108px;
    padding-bottom: 80px;
    @include flex;
    font-weight: 700;
    font-size: 48px;
   text-align: center;
    @media (max-width:$tablet_width) {
      font-size: 40px;
      }
  }
  &__showcase {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:  113px 80px;
    padding-bottom: 118px;
    text-align: center;
    @media (max-width:$tablet_width) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      }
      
      @media (max-width: $phone_width) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
      }
  
    &_item {
      @include flex;
      flex-direction: column;
      // margin: 0px 87px 112px 0px;
      img {
        padding-bottom:30px;
      }
      p {
        font-family: "Lato", sans-serif;
        text-align: center;
        line-height: 24px;
        font-style: italic;
      }
    }
  }

  &__undertext {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #a291a5;
    text-align: center;
    padding-bottom: 18px;
    // max-width: 887px;
   @include flex-column;
    

  }
  &__line{
    border-bottom: 2px solid #645766;
   width: 100%;
   max-width: 780px;
    // position: absolute;
    // padding-top:18px ;
    margin-bottom: 29px;
    
  }
}
